{# home.html.twig #}
{% extends "default.html.twig" %}

{% block header %}
<a href="{{ config.meta.project_url }}">
    <img id="forkme" src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png" alt="Fork me on GitHub" />
</a>
<a href="/"><h1>{{ config.meta.title }}</h1></a>
<a href="http://hs-bremen.de">
    <img id="logo" src="{{ config.dir.assets.img }}/hsb_logo.png" alt="Hochschule Bremen Logo" />
</a>
{% endblock %}

{% block main %}
<h2>Local Alignment</h2>
<p>
    This application uses the Smith-Waterman algorithm to calculate the local
    alignment of two sequences.
</p>
<form action="{{ path('home') }}" method="post" {{ form_enctype(form) }}>
    <fieldset>
        <legend>Select the type of the sequences to align</legend>
        {{ form_widget(form) }}
        <button type="submit" class="btn">Proceed</button>
    </fieldset>
</form>

{% block help %}
<h3>Help</h3>
<dl>
    <dt>Local Sequence Alignment</dt>
    <dd>
        Sequence alignment is the process of finding the optimal way to align
        multiple individual sequences of characters (typically in the form of
        DNA and amino acid chains). Local sequence alignment is a specialized
        process of sequence alignment, focusing on finding similar sections
        within two larger sequences, rather than trying to align the whole
        sequences to each other.
    </dd>
    <dt>
    <dt>Smith-Waterman Algorithm</dt>
    <dd>
        Is a dynamic programming algorithm designed by Temple F. Smith and
        Michael S. Waterman (hence, hence being called the Smith-Waterman). This
        algorithm is used to identify likely local alignments between 2
        sequences, and is based off of the groundwork of the Needleman-Wunsch
        algorithm, which is used to identify global alignments.
    </dd>
    <dt>Dynamic Programming</dt>
    <dd>
        Dynamic programming is the process of breaking down a challenging
        problem in easier sub-problems in a recursive manner. Dynamic
        programming can be broken down into 2 parts. First, there is the Optimal
        sub-structure, which could be summed up in trying to find the optimal
        path; in the case of of sequence alignment, the optimal path is the path
        of the highest values. The other part of dynamic programming is
        overlapping sub-problems, which is the process of generating a value
        based off of the previous value in a sequence, which in the case of
        sequence alignment, ties into the process of finding the optimal
        alignment.
    </dd>
    <dt>DNA</dt>
    <dd>
        The main information carrying molecule for life. It is a double
        stranded, helical molecule, and like RNA it is made up from the
        nucleotides Adenine, Cytosine and Guanine, with the difference of using
        the nucleotide Thymine rather than Uracil. This molecule is responsible
        for holding all of the information to make up the organism, from the
        design of their proteins to the timing of aging, and furthermore this
        molecule is found in almost every single sell of an organism.
    </dd>
    <dt>RNA</dt>
    <dd>
        A one of the information carrying molecules crucial for life. It is made
        up from the nucleotides Adenine, Cytosine, Guanine and Uracil, and is
        single stranded. It is used as a messenger from DNA to the ribosomes, it
        is used to transcribe the nucleotide senescence, and it is also used by
        ribosomes to attach the proper amino acids together in sequence.
    </dd>
    <dt>Amino Acid</dt>
    <dd>
        Amino acids are organic compounds that act as the building blocks for
        proteins. Consisting of an alphabet of 20 different compounds, these
        acids go on to form long sequences that make up the biochemical
        machinery crucial for life.
    </dd>

</dl>
{% endblock %}

{% endblock %}

{% block footer %}
<p>&copy; {{ config.meta.year }} {{ config.meta.author }}</p>
<p><a href="http://gnu.org/licenses/lgpl.txt">LGPL-3.0+</a></p>
{% endblock %}
