{# result.html.twig #}
{% extends "home.html.twig" %}

{% block main %}

<fieldset>
    <legend>Actions</legend>
    <button type="button" id="nextStep" class="btn">Next Step</button>
    <button type="button" id="nextRow" class="btn">Next Row</button>
    <button type="button" id="completeAlignment" class="btn">Show Complete Alignment</button>
    <button type="button" id="reset" class="btn">Reset</button>
</fieldset>

<h2>Input Data</h2>
<ul>
    <li>Query: {{ alignment.query }} (Length: {{ alignment.query.length }})</li>
    <li>Target: {{ alignment.target }} (Length: {{ alignment.target.length }})</li>
    <li>Substitution Matrix: {{ alignment.substitutionMatrixName }}</li>
    <li>Gap Open Penalty: {{ alignment.gapPenalty.openPenalty }}</li>
    <li>Gap Extend Penalty: {{ alignment.gapPenalty.extensionPenalty }}</li>
    <li>Maximum Possible Score: {{ aligner.maxScore }}</li>
    <li>Minimum Possible Score: {{ aligner.minScore }}</li>
</ul>

<h2>Scoring Matrix</h2>
<table id="matrix">
    <tr>
        <td class="topRow leftColumn topLeftCell"></td>
        <td class="topRow">-</td>
{% for currentCharOfFirstSequence in query %}
    {% if loop.last %}
        <td class="topRow topRightCell">{{ currentCharOfFirstSequence }}</td>
    {% else %}
        <td class="topRow">{{ currentCharOfFirstSequence }}</td>
    {% endif %}
{% endfor %}
    </tr>

{% for i in range (0, alignment.target.length) %}
    <tr>
    {% if loop.first %}
        <td class="leftColumn">-</td>
    {% elseif loop.last %}
        <td class="leftColumn bottomLeftCell">{{ target[i - 1] }}</td>
    {% else %}
        <td class="leftColumn">{{ target[i] }}</td>
    {% endif %}

    {% for j in range (0, alignment.query.length) %}
        {% if loop.last and loop.parent.loop.last %}
        <td class="bottomRightCell">{{ aligner.scoreMatrix[i][j] }}</td>
        {% else %}
        <td>{{ aligner.scoreMatrix[i][j] }}</td>
        {% endif %}
    {% endfor %}
    </tr>
{% endfor %}
</table>

<h2>Result Data</h2>
<p>Distance: <strong>{{ aligner.distance }}</strong></p>
<p>Similarity: <strong>{{ aligner.similarity }}</strong></p>
<p>Score: <strong>{{ aligner.score }}</strong></p>
<p>Alignment:</p>
<pre>{{ aligner.formatAlignment }}</pre>

{% endblock %}
