{# result.html.twig #}
{% extends "home.html.twig" %}

{% block main %}

<fieldset>
    <legend>Actions</legend>
    <button type="button" id="nextStep" class="btn">Next Step</button>
    <button type="button" id="nextRow" class="btn">Next Row</button>
    <button type="button" id="completeAlignment" class="btn">Show Complete Alignment</button>
    <button type="button" id="reset" class="btn">Reset</button>
</fieldset>

<table>
    <tr>
        <td class="topRow leftColumn topLeftCell"></td>
{% for currentCharOfFirstSequence in firstSequence %}
    {% if loop.last %}
        <td class="topRow topRightCell">{{ currentCharOfFirstSequence }}</td>
    {% else %}
        <td class="topRow">{{ currentCharOfFirstSequence }}</td>
    {% endif %}
{% endfor %}
    </tr>

{% for i in range (0, secondSequence|length - 1) %}
    <tr>
    {% if loop.last %}
        <td class="leftColumn bottomLeftCell">{{ secondSequence[i] }}</td>
    {% else %}
        <td class="leftColumn">{{ secondSequence[i] }}</td>
    {% endif %}

    {% for j in range (0, firstSequence|length - 1) %}
        {% if loop.last and loop.parent.loop.last %}
        <td class="bottomRightCell">{{ aligner.getScoreTable[j][i] }}</td>
        {% else %}
        <td>{{ aligner.getScoreTable[j][i] }}</td>
        {% endif %}
    {% endfor %}
    </tr>
{% endfor %}
</table>

<a href="/">Home</a>

{% endblock %}
