{# result.html.twig #}
{% extends "home.html.twig" %}

{% block main %}

<div>
    <h2>Input Data</h2>
    <ul>
        <li>Query: {{ alignment.query }} (Length: {{ alignment.query.length }})</li>
        <li>Target: {{ alignment.target }} (Length: {{ alignment.target.length }})</li>
        <li>Substitution Matrix: {{ alignment.substitutionMatrixName }}</li>
        <li>Gap Open Penalty: {{ alignment.gapPenalty.openPenalty }}</li>
        <li>Gap Extend Penalty: {{ alignment.gapPenalty.extensionPenalty }}</li>
        <li>Maximum Possible Score: {{ aligner.maxScore }}</li>
        <li>Minimum Possible Score: {{ aligner.minScore }}</li>
    </ul>
</div>

<fieldset>
    <legend>Actions</legend>
    <button type="button" id="nextStepCalc" class="btn">Next Step</button>
    <button type="button" id="nextRowCalc" class="btn">Next Row</button>
    <button type="button" id="completeAlignment" class="btn">Show Complete Alignment</button>
    <button type="button" id="completeBacktrack" class="btn">Show Complete Backtrack</button>
    <button type="button" id="resetCalc" class="btn">Reset</button>
</fieldset>

<div class="scrollable">
    <h2>Score Matrix</h2>
    {% include "score_matrix.html.twig" %}
</div>

<div>
    <h2>Result Data</h2>
    <ul>
        <li>Distance: {{ aligner.distance }}</li>
        <li>Similarity: {{ aligner.similarity }}</li>
        <li>Score: <strong id="score">{{ aligner.score }}</strong></li>
        <li>
            Alignment:
            <pre>{{ aligner.formatAlignment }}</pre>
        </li>
    </ul>
</div>

<div class="scrollable">
    <h2>Substitution Matrix</h2>
    {% include "substitution_matrix.html.twig" %}
</div>

{% endblock %}
