{# score_matrix.html #}
<table id="matrix">
    <tr>
        <td class="topRow leftColumn topLeftCell"></td>
        <td class="topRow">-</td>
{% for currentCharOfFirstSequence in query %}
    {% if loop.last %}
        <td class="topRow topRightCell">{{ currentCharOfFirstSequence }}</td>
    {% else %}
        <td class="topRow">{{ currentCharOfFirstSequence }}</td>
    {% endif %}
{% endfor %}
    </tr>
{% for i in range (0, alignment.target.length) %}
    <tr>
    {% if loop.first %}
        <td class="leftColumn">-</td>
    {% elseif loop.last %}
        <td class="leftColumn bottomLeftCell">{{ target[i - 1] }}</td>
    {% else %}
        <td class="leftColumn">{{ target[i - 1] }}</td>
    {% endif %}
    {% for j in range (0, alignment.query.length) %}
        {% if loop.last and loop.parent.loop.last %}
        <td class="bottomRightCell">{{ aligner.scoreMatrix[i][j] }}</td>
        {% else %}
        <td>{{ aligner.scoreMatrix[i][j] }}</td>
        {% endif %}
    {% endfor %}
    </tr>
{% endfor %}
</table>
